<h2>New Patient</h2>

<div class="centerAlign">
<div class="header-center">
	<h3>SNOFdb Data Collection Sheet</h3>
	<h4 class="align-left">Disease: ~</h4>
	<h4 class="align-left">Module: Patient</h4>
</div>

<%= error_messages_for(@patient) %>

<div class="form-container">
	<%= form_for(:patient, :url => {:action => 'create'}) do |f| %>
				
	<table class="table-condensed">
	  <tr>
	    <th><%= f.label(:medical_record_num, "Medical Record Number") %></th>
	    <td><%= f.text_field(:medical_record_num, :placeholder => "16-characters") %></td>
	  </tr>
	  <tr>
	    <th><%= f.label(:birth_date, "Date of Birth") %></th>
	    <td><%= f.text_field(:birth_date, :class => "datepicker", :placeholder => "YYYY-MM-DD") %></td>
	  </tr>
	  <tr>
	    <th><%= f.label(:gender, "Gender") %> </th>
	    <td><%= f.select(:gender, ['Male', 'Female']) %></td>
	  </tr>
	  <tr>
	    <th><%= f.label(:race, "Race") %></th>
	    <td>
			<%= check_box_tag("patient[race][]", "Caucasian") %>
			<%= check_box_tag("patient[race][]", "Asian") %>
			<%= check_box_tag("patient[race][]", "Native Hawaiian Islander") %>
			<%= check_box_tag("patient[race][]", "Hispanic") %>
			<%= check_box_tag("patient[race][]", "Native American/Alaskan") %>
			<%= check_box_tag("patient[race][]", "African-American") %>
			<%= check_box_tag("patient[race][]", "Unknown") %>
		</td>
	  </tr>
	  <tr>
	    <th><%= f.label(:ethnicity, "Ethnicity") %></th>
	    <td><%= f.select(:ethnicity, ['Hispanic','Non-Hispanic','Unknown']) %></td>
	  </tr>
	  <tr>
	    <th><%= f.label(:consent_date, "Consent Date") %></th>
	    <td><%= f.text_field(:consent_date, :class => "datepicker", :placeholder => "YYYY-MM-DD") %></td>
	  </tr>
	</table>

	<%= submit_tag("Submit", :class => 'button btn btn-default') %>
	<% end %>
</div>
</div>