<table summary="Patient detail view">
    <tr>
      <th>Medical Record Number</th>
      <td><%= @patient.medical_record_num %></td>
    </tr>
    <tr>
      <th>Encrypted PID</th>
      <td><%= @patient.en_pid %></td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td><%= @patient.birth_date %></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><%= @patient.gender %></td>
    </tr>
    <tr>
      <th>Race</th>
      <td><%= @patient.race %></td>
    </tr>
    <tr>
      <th>Ethnicity</th>
      <td><%= @patient.ethnicity %></td>
    </tr>
    <tr>
      <th>Consent Date</th>
      <td><%= @patient.consent_date %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @patient.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @patient.updated_at %></td>
    </tr>
  </table>
