<h2>Update Patient</h2>

<%= error_messages_for(@patient) %>

<div class="centerAlign2">
	
	<%= form_for(:patient, :url => {:action => 'edit', :id => @patient.id}) do |f| %>
	
		<%= f.label(:medical_record_num, "Medical Record Number") %> 
		<%= f.text_field(:medical_record_num) %>
		
		<%= f.label(:en_pid, "Encrypted PID") %> 
		<%= f.text_field(:en_pid) %>
		
		<%= f.label(:birth_date, "Date of Birth") %> 
		<%= f.text_field(:birth_date) %>
		
		<%= f.label(:gender, "Gender") %> 
		<%= f.select(:gender, ['Male', 'Female']) %>
		
		<%= f.label(:race, "Race") %> 
		<%= f.select(:race, ['Caucasian','Asian','Native Hawaiian Islander','Hispanic','Native 										American/Alaskan','African-American','Unknown']) %>
				
		<%= f.label(:ethnicity, "Ethnicity") %> 
		<%= f.select(:ethnicity, ['Hispanic','Non-Hispanic','Unknown']) %>
		
		<%= f.label(:consent_date, "Consent Date") %> 
		<%= f.text_field(:consent_date) %>
		
		<%= submit_tag("Submit", :class => 'button2 btn btn-default') %>
		<% end %>
</div>